.image1 {
    float: left;
    width:100%;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 20px;
}

.image2 {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: -1;
    width: 32%;
    height: 100%;
}

.heading {
    padding-top: 1%;
}

strong {
    font-family: 'Montserrat', sans-serif;
}

th {
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width:67%;
    text-align: left;
    margin-left: 0;
}

.checked {
    color: orange;
  }

.foot {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 26px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -9px;
    }

p, td {
    font-family: 'Montserrat', sans-serif;
    }

.about {
    margin-top: -27px;
}

ul {
    list-style-type: none;
    }

.name {
    font-family: 'Montserrat', sans-serif;
}  

@media screen and (max-width: 1280px)
{

.image2 {
    width: 32%;
    height: 100%;
}

h4 {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

* {
    color: rgb(0, 0, 0);
}

}

@media screen and (max-width:1024px) and (min-width: 768px)
{
    .image1 {
        margin-left: 35%;
    }

    h1,p {
        text-align: center;
    }

    h4 {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    .image2 {
        height: 100%;
        width: 100%;
    }

    hr {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    table {
        margin-left: 30%;
    }

    * {
        color: rgb(255, 255, 255);
    }
}

@media screen and (max-width:800px) and (min-width: 360px)
{
    .image1 {
        margin-left: 35%;
    }

    h1,p {
        text-align: center;
    }

    h1 {
        font-size: 50px;
    }

    h4 {
        font-size: 20px;
    }

    .image2 {
        
        height: 100%;
        width: 100%;
    }

    hr {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    table {
        margin-left: 30%;
    }

    .skills {
        text-align: center;
    }

    * {
        color: rgb(255, 255, 255);
    }
}